<div class="row">
	<div class="col s12">
	<h3 class="center-align">Course Listing</h3>
	</div>
</div>

 <div class="row">
 	<% Course.all.each do |course| %>
    <div class="col s6 custom-style">
      <div class="card teal darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= course.short_name %>: <%= course.name %></span>
          <p>
          <%= truncate(course.description, length: 120, omission: ' ...') %> </p>
        </div>
        <div class="card-action">
          <% if (logged_in?) && (!current_user.courses.include?(course)) %>
          <%= link_to "Enroll Now", course_enroll_path(course_id: course.id), method: :post %>
          <% end %>
          <a href="#">Info</a>
        </div>
      </div>
    </div>
    <% end %>

  </div>
