@import "materialize";

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .signup-form {
  	padding-top: 30px;
  }

  .col.s6.custom-style {
    padding: 5px;
    margin: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}